<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <h2>Loan Approval Prediction</h2>

    <form method="post">
        <label>Income: <input type="text" name="person_income" required></label><br><br>
        <label>Home Ownership (0-3): <input type="text" name="home_ownership" required></label><br><br>
        <label>Loan Amount: <input type="text" name="loan_amnt" required></label><br><br>
        <label>Loan Intent (0-4): <input type="text" name="loan_intent" required></label><br><br>
        <label>Interest Rate: <input type="text" name="loan_int_rate" required></label><br><br>
        <label>Loan Percent Income: <input type="text" name="loan_percent_income" required></label><br><br>
        <label>Previous Defaults (0/1): <input type="text" name="previous_loan_defaults_on_file" required></label><br><br>
    
        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
